.loan_input_text {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    right: 180px;
    margin: 10px;
}
.mortgage_input_text {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    right: 160px;
    margin: 10px;
}