.header_outer {
    background: #519872;
    height: 90px;
    width: 100vw;
   
}

.header_logo {
    height: 40px;
    width: 40px;
    
}

.logo_box {
    position: relative;
    top: 20px;
    left: 200px;
}

.houser_text {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}

.dash_text {
    color: white;
    font-size: 30px;
    font-weight: 400;
   
}

.logout_link {
    color: white;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    bottom: 5px;
    left: 1050px;
}